@charset "UTF-8";
header .encabezado_lista, header .logo-position, header .nav-position, footer .redes, .grid_container .box2 iframe {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid_container .box1, .grid_container .box1 h1, .grid_container .box4 {
  display: flex;
  justify-content: center;
  text-align: center; }

* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 20px; }

.body {
  background-color: #f5d7e7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Playfair Display', serif; }

.pepito {
  width: 20%;
  display: flex;
  justify-content: center; }

header {
  background-image: url("../../Imagenes/fondoPastelitos.png"); }
  header .cabecera {
    min-height: 100%; }
  header .encabezado_lista {
    margin: 0 auto;
    width: 100%;
    font-size: 100%;
    list-style: none;
    padding: 3px; }
  header .lista_item {
    background-color: #f564ac;
    border: solid 2px #963f83;
    margin: 10px;
    border-radius: 15px; }
  header.a {
    text-decoration: none;
    color: white;
    font-weight: 70%;
    font-size: 30px;
    padding: 10px;
    list-style: none; }
  header.lista_item:hover {
    animation: animate__pulse;
    transition: all 0.5s; }
  header .barranavegacion {
    background-image: url("../../Imagenes/fondoPastelitos.png"); }
  header .letter-color {
    color: #963f83;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 70%;
    font-size: 30px;
    padding: 5px;
    margin-right: 30px; }
  header .activo {
    color: #f759a8; }
  header .logo-img {
    width: 8%;
    height: 2%;
    padding: 1%; }
  header .logo-position {
    flex-wrap: wrap; }
  header .nav-position {
    flex-wrap: wrap; }
  header .logo {
    width: 6vw;
    height: 2%;
    padding: 1%; }

footer {
  background-image: url("../../Imagenes/fondoPastelitos.png"); }
  footer .redes {
    margin: 0 auto;
    width: 100%;
    font-size: 100%;
    list-style: none;
    margin: 5px; }
  footer .facebook {
    width: 50px; }
  footer .instagram {
    width: 50px; }
  footer .whatsapp {
    width: 50px; }

/* grilla productos y galeria */
.galeria_container {
  background: url("../../Imagenes/fondoPastelitos.png");
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense; }
  .galeria_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  color: none;
  width: 97%;
  height: 97%;
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  border: solid 2px #963f83; }
  .grilla img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px;
    gap: 10px; }
  .grilla :hover {
    transform: scale(1.5);
    transition: all 1s; }

.tamañocard {
  width: 50%; }

@media screen and (max-width: 720px) {
  .galeria_container {
    grid-template-columns: auto; } }

@media screen and (max-width: 720px) {
  .encabezado_lista {
    flex-direction: column; } }

.carousel-fade {
  width: auto; }

.imgcarousel {
  width: 99vw;
  height: 875px;
  margin: 1px;
  margin-top: 0px; }

.carousel {
  margin-left: 7px;
  margin-right: 0px;
  width: 100%;
  height: 90%; }

.mapa {
  width: 97vw;
  height: 70vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  object-fit: cover; }

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; }
  .grid_container .box1 {
    background-color: none;
    padding: 10px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    height: 60%; }
    .grid_container .box1 h1 {
      width: 100%;
      height: 100%;
      margin: -2px;
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 20px;
      font-size: 50px;
      font-weight: bolder;
      font-weight: bold; }
  .grid_container .box2 {
    grid-column: 1/3;
    grid-row: 3/5;
    height: 100%;
    width: 100%; }
    .grid_container .box2 iframe {
      width: 100%;
      height: 100%;
      margin-left: 15px; }
  .grid_container .box3 {
    background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
    grid-column: 3/4;
    grid-row: 3/5;
    width: 95%;
    height: 90%;
    margin-top: 1%;
    margin-left: 3%; }
    .grid_container .box3 h3 {
      width: 100%;
      height: 150%;
      margin-bottom: 5%;
      padding: 5%;
      font-size: 25px; }
  .grid_container .box4 {
    background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
    grid-column: 1/4;
    grid-row: 5/6;
    margin-bottom: 20px; }
    .grid_container .box4 .h3 {
      margin: -200px 1px 5px 1px;
      padding: 20px;
      text-align: center;
      font-size: 35px; }
  .grid_container .box5 {
    grid-column: 1/4;
    grid-row: 6/7;
    margin-left: 10px; }
    .grid_container .box5 .iframe {
      width: 99%;
      margin-left: 9px;
      display: flex;
      justify-content: center;
      margin-right: 0px; }

@media screen and (max-width: 720px) {
  .box1 {
    width: 100%;
    text-align: center; }
  h1 {
    width: 100%; } }

@media screen and (max-width: 720px) {
  .textoresumen {
    overflow: scroll; } }

@media screen and (max-width: 720px) {
  h2 {
    width: 100%; } }

@media screen and (max-width: 720px) {
  .grid_container {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 720px) {
  .box1 {
    display: flex;
    padding: 10px;
    font-size: 35px;
    margin-bottom: 25%; }
  .box1 h1 {
    margin-bottom: 25%; } }

@media screen and (max-width: 720px) {
  .box2 {
    margin-top: -150px; }
  .box2 iframe {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 720px) {
  .box3 {
    margin: 1%;
    justify-content: center;
    background: none; }
  .box3 h3 {
    font-size: 20px;
    margin: 1px;
    text-align: start;
    overflow: auto; } }

/* @media screen and (max-width: 720px){
    .box5 iframe{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
} */
@media screen and (max-width: 720px) {
  #carouselExampleFade {
    display: none; } }

@media screen and (max-width: 720px) {
  .box5 {
    display: flex;
    flex-wrap: nowrap; } }

.tipo_producto {
  color: #963f83;
  text-align: center;
  padding: 10px;
  list-style: none;
  font-size: 30px; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-auto-rows: minmax(80px, auto);
  gap: 20px; }

@media screen and (min-width: 250px) {
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; } }

.tabla {
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  color: white;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  border: solid 2px #963f83;
  font-size: 25px; }

header .encabezado_lista, header .logo-position, header .nav-position, footer .redes, .grid_container .box2 iframe {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid_container .box1, .grid_container .box1 h1, .grid_container .box4 {
  display: flex;
  justify-content: center;
  text-align: center; }

h1 {
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  border: solid 2px #963f83;
  padding: 10px;
  margin: 5% auto;
  color: aliceblue;
  text-align: center;
  font-size: 65px; }

.textoresumen {
  color: #963f83;
  width: 96%;
  text-align: center;
  height: 100%;
  margin: 2%;
  overflow: auto; }

.resumen_nosotros {
  color: #963f83;
  width: 100%;
  height: 100%;
  margin: 1px; }

.subtitulo {
  width: 100%;
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  color: white;
  border: solid 2px #963f83;
  padding: 10px;
  margin: 5px auto;
  text-align: center; }

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  color: white;
  border: solid 2px #963f83;
  width: 30%;
  margin: 1%;
  border-radius: 10px;
  font-size: 40px; }

h3 {
  background: linear-gradient(189deg, #fc6db5 0%, #f759a8 50%, rgba(255, 168, 211, 0.721578) 100%);
  color: white;
  width: 100%;
  padding: 3px;
  margin: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  font-size: 30px; }

header .encabezado_lista, header .logo-position, header .nav-position, footer .redes, .grid_container .box2 iframe {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid_container .box1, .grid_container .box1 h1, .grid_container .box4 {
  display: flex;
  justify-content: center;
  text-align: center; }
