*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 20px;
}
.cabecera{
    background-image: url(./Imagenes/Promos\ \(1\).png);
    min-height: 100%;
}
body{
    font-family: 'Playfair Display', serif;

}
.activo{
    
    color: rgba(247,89,168,1);
}
.pepito{
    width: 20%;
    display: flex;
    justify-content: center;
}
.encabezado_lista{
    margin: 0 auto;
    width: 100%;
    font-size: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 3px;
}
.encabezado_lista_item{
    background: rgb(252,109,181);
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    border: solid 2px rgb(150, 63, 131);
    margin: 10px;
    border-radius: 15px;
}
.encabezado_lista_item:hover{
    animation: animate__pulse;
    transition: all 0.5s;
}
.encabezado_lista_item a{
    text-decoration: none;
    color: white;
    font-weight: 70%;
    font-size: 30px;
    padding: 10px;
    list-style: none;
}
.body{
    background-color: rgb(245, 215, 231);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-auto-rows: minmax(80px, auto);
    gap: 20px;
}
.carousel-fade{
    width: auto;
}
.boton{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    width: 345%;
    border: solid 2px rgb(150, 63, 131);
    padding: 10px;
    margin: 5% auto;
    color: aliceblue;
    text-align: center;
}
h1{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    border: solid 2px rgb(150, 63, 131);
    padding: 10px;
    margin: 5% auto;
    color: aliceblue;
    text-align: center;
}
.boton a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    font-size: 30px;
    padding: 2px;
}
.textoresumen{
    color: rgb(150, 63, 131);
    width: 50%;
    height: 100%;
    margin: 2%;
    overflow: auto;
}
.resumen_nosotros{
    color: rgb(150, 63, 131);
    width: 98%;
    height: 100%;
    margin: 1%;
}
.facebook{
    width: 50px;
}
.instagram{
    width: 50px;
}
.whatsapp{
    width: 50px;
}
.mapa{
    width: 97vw ;
    height: 70vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    object-fit: cover;    
}

.subtitulo{
    width: 97vw;
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
  /*   background-color: rgb(248, 134, 191); */
    color: white;
    border: solid 2px rgb(150, 63, 131);
    padding: 10px;
    margin: 5px auto;
    text-align: center;
}
h2{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
/*     background-color: rgb(248, 134, 191); */
    color: aliceblue;
    border: solid 2px rgb(150, 63, 131);
    width: 25%;
    margin: 0%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
h3{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    color: white;
    width: 99%;
    padding: 3px;
    margin: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
 .grilla img{
    width: 100%;
    height: 100%;
    margin: 10px;
    gap: 10px;
 }
.tipo_producto{
    color: rgb(150, 63, 131);
    text-align: center;
    padding: 10px;
    list-style: none;
}
.redes{
    padding: 6px;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 100%;
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.box1{
    background-color: none;
    padding: 10px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    height: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box1 h1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -2px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    font-size: 40px
}
.box2{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    grid-column: 1/3;
    grid-row: 3/5;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 iframe{
    width: 100%;
    height: 100%;
}
.box3{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    grid-column: 3/4;
    grid-row: 3/5;
    height: 400px;
    margin: auto;
}
.box5{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box6{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    grid-column: 1/4;
    grid-row: 6/7;
}
.box6 iframe{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grilla{
    width: 97%;
    height: 97%;
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    border: solid rgb(150, 63, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grilla:hover {
    transform: scale(1.5);
    transition: all 1s;
}
.galeria_container{
    background: linear-gradient(189deg, rgba(252,109,181,1) 0%, rgba(247,89,168,1) 50%, rgba(255,168,211,0.7215777262180975) 100%);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 250px) {
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }  
}

.galeria_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 720px){
    .encabezado_lista{
        flex-direction: column;
    }
}
.barranavegacion{
    background-image: url(./Imagenes/Promos\ \(1\).png);
}
.imgcarousel{
    width: 99vw;
    height: 875px;
    margin: 1px;
    margin-top: 0px;
}
.letter-color{
    color: rgb(150, 63, 131);
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 70%;
    font-size: 30px;
    padding: 5px;
    margin-right: 30px;
}
.logo-img{
    width: 8%;
    height: 2%;
    padding: 1%;
}
.logo-position{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav-position{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}