$colorprimario:rgb(245, 100, 172);
$colorsecundario:rgb(150, 63, 131);
$colortitulo:aliceblue;
$colorsubtituloyh3: white;
$backgroundcolorbox: rgb(248, 134, 191);
$border:solid 2px rgb(150, 63, 131);
$tamanioredes: 50px;
