$colorprimario:rgb(245, 100, 172);
$colorsecundario:rgb(150, 63, 131);
$colortitulo:rgb(250, 240, 246);
$colorsubtituloyh3: white;
$backgroundcolorbox:#f491bd;
$border:solid 2px #e380b2;
$tamanioredes: 50px;
$backgrounddegrade:   radial-gradient(circle, rgba(252,141,201,1) 0%, rgba(246,165,206,1) 50%, rgba(247,184,215,1) 100%);