
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-auto-rows: minmax(80px, auto);
    gap: 20px;
}
@media screen and (min-width: 250px) {
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }  
}
