.carousel-fade{
    width: 100%;
}
.carousel{
    margin-top: 20px;
    margin-right: 13px;
    width: 100%;
    height: 50%;
}
.carousel-inner{
    background-image: url(../../Imagenes/rayas-rosadas-5312012.png);
    width: 100%;
    height: 500px;
    margin-right: 7px;
    margin-bottom: 2px;
       & img{
        height: 500px;
        object-fit: contain;
    
    }
}
.mapa{
    width: 100% ;
    height: 70vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    object-fit: cover;    
}

.grid_container{
    width: 100%;
    height: 30%;
    .box1{
        @extend %boxflex;
        background-color: none;
        padding: 10px;
        width: 100%;
        height: 60%;
        margin-bottom: 1px;
        & h1{
            @extend %boxflex;
            width: 100%;
            height: 100%;
            margin: -2%;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 20px;
            font-size: 50px;
            font-weight: bolder;
            font-weight: bold;
        }
    }
    .box2{
        grid-column: 3/4;
        grid-row: 3/5;
        width: 95%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        & h3{
            background-color: #f5d7e7;
            color: $colorsecundario;
            width: 100%;
            height: 90%;
            margin-top: -120px;
            margin-bottom: -35px;
            padding: 5%;
            font-size: 25px;

        }
    }
    .box3{
        display: flex;
        @extend %flex;
        width: 100%;
        height: 500px;
        & iframe{
            width: 100%;
            height: 100%;
            @extend %flex;
            
        }
    }
    .box4{
        @extend %boxflex;
        background: $backgrounddegrade;
        grid-column: 1/4;
        grid-row: 5/6;
        margin-top: 20px;
        margin-bottom: 20px;
        & .h3{
            margin: -200px 1px 5px 1px;
            padding: 20px;
            text-align: center;
            font-size: 35px;
        }
    }
    .box5{
        grid-column: 1/4;
        grid-row: 6/7;
        margin-left: 10px;
        & .iframe{
            width: 99%;
            margin-left: 9px;
            display: flex;
            justify-content: center;
            margin-right: 0px;
        }
    }
}
@media screen and (max-width: 720px){
    .box1{
        width: 100%;
        text-align: center;
    }
    h1{
        width: 100%;
    }
}
@media screen and (max-width: 720px){
    .textoresumen{
        overflow: scroll;
    }
}
@media screen and (max-width: 720px){
    h2{
        width: 100%;
    }
}
@media screen and (max-width: 720px){
    .grid_container{
        display: block;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 720px){
    .box1{
        display: flex;
        padding: 10px;
        font-size: 35px;
        margin-bottom: 0;

    }
    .box1 h1{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 720px){
    .box2{
        margin-top: -150px;
    }
    .box2 iframe{
        width: 98%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 720px){
    .box3{
        width: 96%;
        display: block;
        height: 100%;
        margin-left: -5px;

        
    }
    .box3 h3{
        font-size: 20px;
        margin: 1px;
        text-align: start;
    }
}
@media screen and (max-width: 720px){
    #carouselExampleFade{
        display: none;   
    }
}
@media screen and (max-width: 720px){
    .box5{
        display: flex;
        flex-wrap: nowrap;
    }
}